<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>607941540232-nqbhiq3h0fsrsje9qnpj8c4fdfpt915o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.607941540232-nqbhiq3h0fsrsje9qnpj8c4fdfpt915o</string>
	<key>API_KEY</key>
	<string>AIzaSyCE_bElU72zu4wff9X1GPCfBKyw_ONpEDA</string>
	<key>GCM_SENDER_ID</key>
	<string>607941540232</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tiktokclone</string>
	<key>PROJECT_ID</key>
	<string>my-sungjun-1853</string>
	<key>STORAGE_BUCKET</key>
	<string>my-sungjun-1853.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:607941540232:ios:51eef22b7c7dde784fa23d</string>
</dict>
</plist>